[Desktop Entry]
Name=3s PokeMMO Tool
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=pokemmo-tool
StartupWMClass=3s PokeMMO Tool
X-AppImage-Version=2.5.2
Comment=3’s PokeMMO Tool — For Blueberries
Categories=Utility;
